aiohttp==3.7.4.post0
APScheduler==3.10.1
async-timeout==3.0.1
asyncpg==0.27.0
attrs==22.2.0
cachetools==5.3.0
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==3.1.0
colorama==0.4.6
discord.py==2.2.2
flake8==6.0.0
google-api-core==2.11.0
google-api-python-client==2.31.0
google-auth==2.17.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
httplib2==0.22.0
idna==3.4
mccabe==0.7.0
multidict==6.0.4
orjson==3.8.9
Pillow==9.5.0
pomice==2.4.1
protobuf==4.22.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pyflakes==3.0.1
pyparsing==3.0.9
python-dotenv==1.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
requests==2.28.2
rsa==4.9
six==1.16.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uritemplate==4.1.1
urllib3==1.26.15
yarl==1.8.2
