discord.py==1.7.3
discord-py-interactions==3.0.2
discord-together==1.2.0
python-dotenv==0.19.1
Pillow==8.4.0
google-api-python-client==2.26.1
apscheduler==3.8.0
asyncpg==0.24.0
colorama==0.4.4
wavelink==0.9.10 