# Created by bonzoTeam (c) 2021.
# ДАННЫЙ ФАЙЛ ЯВЛЯЕТСЯ ПРИМЕРОМ ДЛЯ ЛЮБОГО ПОДКЛЮЧАЕМОГО КОГА НА СИСТЕМЕ BONZO
# ВЫ МОЖЕТЕ ИСПОЛЬЗОВАТЬ ЭТОТ ФАЙЛ В КАЧЕСТВЕ __МИНИМАЛЬНОГО__ ШАБЛОНА ПРИ СОЗДАНИИ СВОИХ МОДУЛЕЙ.

# ИМПОРТИМ ВСЁ НЕОБХОДИМОЕ
from discord.ext.commands import Cog, command, CommandError
from discord.ext.commands.context import Context

from discord_slash import SlashContext, cog_ext
from discord_slash.error import SlashCommandError

# НАЗЫВАЕМ ФУНКЦИЮ 
name = 'YOURNAME'
description = 'YOUR_BEAUTIFUL_DESCRIPTION'

# ОБЪЯВЛЯЕМ ОШИБКИ

class YourError1(CommandError, SlashCommandError):
    pass

class YourError2(CommandError, SlashCommandError):
    pass

# ОБЪЯВЛЯЕМ КЛАСС-КОГ ВАШЕЙ ФУНКЦИИ
class YourName(Cog):
    def __init__(self, bot):
        self.bot = bot

    # ЛОВИМ ОШИБКИ ДЛЯ ПРЕФИКСНОЙ КОМАНДЫ
    async def cog_command_error(self, ctx, error):
        if isinstance(error, YourError1):
            return await ctx.send('ПОЛЬЗОВАТЕЛЬСКИЙ ВЫВОД ПРИ ОШИБКЕ 1')

        if isinstance(error, YourError2):
            return await ctx.send('ПОЛЬЗОВАТЕЛЬСКИЙ ВЫВОД ПРИ ОШИБКЕ 2')

    # ЛОВИМ ОШИБКИ ДЛЯ СЛЭШ КОМАНДЫ
    @Cog.listener()
    async def on_slash_command_error(self, ctx, error):
        if isinstance(error, YourError1):
            return await ctx.send('ПОЛЬЗОВАТЕЛЬСКИЙ ВЫВОД ПРИ ОШИБКЕ 1')

        if isinstance(error, YourError2):
            return await ctx.send('ПОЛЬЗОВАТЕЛЬСКИЙ ВЫВОД ПРИ ОШИБКЕ 2')

    # ПРЕФИКСНАЯ КОМАНДА (ЛЕГАСИ)
    @command(name=name, description=description)
    async def yourFunction_prefix(self, ctx: Context):
        await self.yourFunction(ctx)

    # СЛЭШ КОМАНДА
    @cog_ext.cog_slash(name=name, description=description)
    async def yourFunction_slash(self, ctx: SlashContext):
        await self.yourFunction(ctx)

    # ДЕЙСТВИЯ ПРИ ВЫЗОВЕ КОМАНДЫ
    async def yourFunction(self, ctx):
        ''' ОПИСАНИЕ ДЕЙСТВИЙ ВМЕСТО ЭТОГО
        МНОГОСТРОЧНОГО
        КОММЕНТАРИЯ
        '''
        await ctx.send('ВАШ ВЫВОД ВМЕСТО ЭТОЙ СТРОКИ')

# ПОДКЛЮЧАЕМ КОГ К БОТУ
def setup(bot):
    bot.add_cog(YourName(bot))