# Created by bonzoTeam (c) 2023.
# ДАННЫЙ ФАЙЛ ЯВЛЯЕТСЯ ПРИМЕРОМ ДЛЯ ЛЮБОГО ПОДКЛЮЧАЕМОГО КОГА НА СИСТЕМЕ BONZO
# ВЫ МОЖЕТЕ ИСПОЛЬЗОВАТЬ ЭТОТ ФАЙЛ В КАЧЕСТВЕ __МИНИМАЛЬНОГО__ ШАБЛОНА ПРИ СОЗДАНИИ СВОИХ МОДУЛЕЙ.

# ИМПОРТИМ ВСЁ НЕОБХОДИМОЕ
from discord.ext.commands import Cog, hybrid_command, Context
from discord.ext.commands.context import Context
from bot import Bot


# НАЗЫВАЕМ ФУНКЦИЮ 
name = 'YOURNAME'
description = 'YOUR_BEAUTIFUL_DESCRIPTION'

# ОБЪЯВЛЯЕМ ОШИБКИ


# ОБЪЯВЛЯЕМ КЛАСС-КОГ ВАШЕЙ ФУНКЦИИ
class YourName(Cog):
    def __init__(self, bot):
        self.bot: Bot = bot


    # ДЕЙСТВИЯ ПРИ ВЫЗОВЕ КОМАНДЫ
    @hybrid_command(name=name, description=description)
    async def yourFunction(self, ctx: Context):
        ''' ОПИСАНИЕ ДЕЙСТВИЙ ВМЕСТО ЭТОГО
        МНОГОСТРОЧНОГО
        КОММЕНТАРИЯ
        '''
        await ctx.send('ВАШ ВЫВОД ВМЕСТО ЭТОЙ СТРОКИ')

# ПОДКЛЮЧАЕМ КОГ К БОТУ
async def setup(bot):
    await bot.add_cog(YourName(bot))