# Created by bonzoTeam (c) 2023.
# ДАННЫЙ ФАЙЛ ЯВЛЯЕТСЯ ПРИМЕРОМ ДЛЯ ЛЮБОГО ПОДКЛЮЧАЕМОГО КОГА НА СИСТЕМЕ BONZO
# ВЫ МОЖЕТЕ ИСПОЛЬЗОВАТЬ ЭТОТ ФАЙЛ В КАЧЕСТВЕ __МИНИМАЛЬНОГО__ ШАБЛОНА ПРИ СОЗДАНИИ СВОИХ МОДУЛЕЙ.

# ИМПОРТИМ ВСЁ НЕОБХОДИМОЕ
from discord.ext.commands import Cog
from discord import app_commands, Interaction
from bot import Bot


# ОБЪЯВЛЯЕМ КЛАСС-КОГ ВАШЕЙ ФУНКЦИИ
class YourName(Cog):
    def __init__(self, bot):
        self.bot: Bot = bot


    # ДЕЙСТВИЯ ПРИ ВЫЗОВЕ КОМАНДЫ
    @app_commands.command(name='YOURNAME', description='YOUR_BEAUTIFUL_DESCRIPTION')
    async def yourFunction(self, inter: Interaction):
        ''' ОПИСАНИЕ ДЕЙСТВИЙ ВМЕСТО ЭТОГО
        МНОГОСТРОЧНОГО
        КОММЕНТАРИЯ
        '''
        await inter.response.send_message('ВАШ ВЫВОД ВМЕСТО ЭТОЙ СТРОКИ')

# ПОДКЛЮЧАЕМ КОГ К БОТУ
async def setup(bot):
    await bot.add_cog(YourName(bot))